@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Mr+Dafoe&display=swap');

body {
    background-color: var(--bgColor);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* header start */
:root {
    --bgColor: rgb(2, 135, 201);
    --navColor: rgb(4, 130, 182);
}

.logo img {
    width: 150px;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(4, 130, 182);
    position: sticky;
    top: 0px;
    z-index: 1;
    opacity: 0.8;
    height: 70px;
    overflow: hidden;
}

nav a {
    color: white;
    font-size: 15px;
    display: block;
}

header nav {
    display: flex;
}

nav div {
    text-align: center;
    margin: 10px 30px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;

}

nav div:hover {
    background-color: var(--bgColor);
}

nav div i {
    color: white;
    font-size: 20px;
}

.logo {
    margin-right: 50px;
    padding: 0px 20px;
}




/* header end */

/* home start */
.homeImg img {
    width: 100%;
}

.homeText {
    text-align: center;
    max-width: 70%;
    margin: auto;
    color: white;
    margin-top: 10px;
}

.homeText h1 {
    margin-bottom: 10px;
    text-shadow: 1px 3px 4px red, -1px 3px 4px red, 1px -3px 4px red;
    font-family: Mr Dafoe;
}


.homeText p {
    line-height: 30px;
}

.homeText p:hover {
    text-shadow: 1px 3px 4px red, -1px 3px 4px red, 1px -3px 4px red;
}


.homeVideo div video {
    width: 90%;
    margin: 20px;
    border: 5px solid var(--navColor);

}

.homeVideo {
    display: flex;
}


/* home end */
/* shows start */
.showContainer {
    text-align: center;
    color: white;
    margin-bottom: 20px;

}

.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showDiv {
    width: 250px;
    height: 390px;
    margin: 15px;
    text-align: center;
    box-shadow: 1px 3px 5px rgb(194, 187, 187), -1px 3px 5px rgb(194, 187, 187), 1px -3px 5px rgb(194, 187, 187);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.9s;
}

.showDiv:hover {
    transform: scale(1.1);
}

.showImg img {
    width: 100%;
    border-radius: 10px;
}

.showTitle {
    color: white;
    padding-top: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.showTitle::after {
    content: "";
    background-color: blue;
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: 0.8s;
}

.showTitle:hover::after {
    width: 100%;
}

/* shows end */
/* about start */
.aboutImg img {
    width: 400px;
}

.aboutText p {
    color: white;
    font-size: 20px;
}

.aboutText {
    margin-left: 30px;
    text-align: center;
    line-height: 30px;
}

.aboutContainer {
    display: flex;
    margin: 50px;
    align-items: center;
    box-shadow: 1px 3px 5px blue;
}

/* about end */

/* footer start */
footer {
    margin: 50px 0px;
}
footer p, footer h4 {
    color: white;
    width: 70%;
    text-align: center;
    margin: auto;
}

footer p:hover{
    text-shadow: 2px 5px 10px black;
}


/* footer end */



/* media quaries */

@media screen and (max-width:1137px) {
    .aboutImg img {
        width: 300px;
    }
}

@media screen and (max-width:1000px) {
    .aboutText p {
        font-size: 15px;
    }
}

@media screen and (max-width:900px) {
    .logo img {
        width: 100px;
    }

    nav a {
        font-size: 10px;

    }

    nav div i {
        font-size: 15px;
    }

    nav div {
        margin: 5px;

    }

    .homeVideo {
        flex-wrap: wrap;
        text-align: center;
    }

    .homeVideo div video {
        width: 90%;

    }

    .aboutContainer {
        display: block;
        margin: 50px 0px;
        text-align: center;
    }

}

@media screen and (max-width:610px) {
    .logo img {
        width: 70px;
    }

    nav div {
        margin: 5px;
        padding: 10px;
        width: 60px;
    }

    .logo {
        padding: 0px 10px;
        margin-right: 10px;
    }
}